@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('fonts/inter-v13-latin-regular.woff2') format('woff2'); 
  }

  @font-face {
    font-family: 'Inter';
    font-weight: 700;
    src: url('fonts/inter-v13-latin-700.woff2') format('woff2'); 
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

@keyframes slideMe{
    0%{
        transform:  translateX(2000px);
    }
    100%{
        transform:  translateX(0px);
    }
}

@keyframes slideOut{
    0%{
        transform:  translateX(0px);
    }
    100%{
        transform:  translateX(2000px);
    }
}

@keyframes move-in {
    0% {
      right: -30%;
    }
    100% {
      right: 4px;
    }
  }

  @keyframes move-out {
    0% {
      right: 4px;
    }
    100% {
      right: -30%;
    }
  }


  @keyframes climb-up {
    from{
        transform: translateY(500%);
    }

    to{
        transform: translateY(0%);
    }
  }

  @keyframes climb-down {
    from{
        transform: translateY(0%);
    }

    to{
        transform: translateY(500%);
    }
  }

  @keyframes slide-from-right {
    from{
        transform: translateX(500%);
    }

    to{
        transform: translateX(0%);
    }
  }

  @keyframes slide-to-right {
    from{
        transform: translateX(0%);
    }

    to{
        transform: translateX(500%);
    }
  }


body{
    background-color: rgb(246,247,248);
    font-family: 'Inter';
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;

}

#landscape-warning {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    color: white;
    font-size: 1em;
    text-align: center;
    line-height: 100vh; /* Center text vertically */
    z-index: 9999; /* Ensure it is on top */
  }
  
  /* Show the warning when needed */
  #landscape-warning.visible {
    display: flex;
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
  }

.d-none{
    display: none !important;
}

header{
    background-color: white;
    width: 100%;
    max-width: 1920px;
    height: 96px;
    box-sizing: border-box;
    padding: 20px 40px 20px 348px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}


.popup-background{
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    overflow: hidden;
    height: 65vh;
    width: 75vw;
    max-width: 1212px;
    background-color: white;
    display: flex;
    border-radius: 30px;
}

.popup-left{
    padding-left: 48px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2A3647;
    width: 39%;
    color: white;
}

.popup-left h1{
    margin: 0;
    margin-top: 18px;
    margin-bottom: 14px;
    font-size: 61px;
}

.popup-left h3{
    margin: 0;
    font-weight: 400;
    font-size: 27px;
    margin-bottom: 16px;
}

.blue-line{
    background-color: #29ABE2;
    height: 3px;
    width: 90px;
}

.join-logo{
    width: 56px;
    height: 66px;
}

.popup-right{
    position: relative;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center
}

.back-icon,
.back-icon-white{
    width: 24px;
    height: 24px;
}

.back-icon-boarder{
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 45px;
}

.back-icon-boarder:hover{
    background-color: rgb(238,238,238);
}

.back-icon-white-boarder{
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 8%;
    right: 5%;
    border-radius: 45px;
}

.back-icon-white-boarder:hover{
    background-color:#29ABE2;
}

.nobody{
    margin-left: 7%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    flex: none;
    align-self: center;
}

.edit-contact-logo{
    margin-left: 7%;
    align-self: center;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 122, 1);
    color: white;
    border: solid 3px white;
    border-radius: 50%;
    font-size: 47px;
    flex: none;
}

.form{
    display: flex;
    flex-direction: column;

}

.form input::placeholder{
    color: #D1D1D1;
}



.form img{
    width: 24px;
    height: 24px;
}

.add-contact-input-name{
    margin-bottom: 32px;
    padding: 12px 21px 12px 21px;
    background: url(img/person.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 14px);
    height: 48px;
    border-radius: 10px;
    border: solid 1px #D1D1D1;
    font-family: inter;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    outline: none;
}

.add-contact-input-mail{
    margin-bottom: 32px;
    padding: 12px 21px 12px 21px;
    background: url(img/mail-logo-for-input.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 14px);
    height: 48px;
    border-radius: 10px;
    border: solid 1px #D1D1D1;
    font-family: inter;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    outline: none;
}

.add-contact-input-tel{
    margin-bottom: 48px;
    padding: 12px 21px 12px 21px;
    background: url(img/call-for-input.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 14px);
    height: 48px;
    border-radius: 10px;
    border: solid 1px #D1D1D1;
    font-family: inter;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    outline: none;
}

.form input:focus{
    border: solid 1px #29ABE2;
}

.add-contact-form-buttons{
    display: flex;
}

.cancel{
    cursor: pointer;
    width: 126px;
    height: 57px;
    margin-right: 24px;
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
    border: solid 1px;
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancel img{
    width: 24px;
    height: 24px;
}

.cancel:hover{
    color: #29ABE2;
    border-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;

}

body:has(.cancel:hover) .cancel img{
    filter: drop-shadow(0px 1000px 0 #29ABE2);
    transform: translateY(-1000px);
}

.create{
    cursor: pointer;
    width: 214px;
    height: 57px;
    color: white;
    background-color: #2A3647;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 10px;
    gap: 4px;
}

.create:hover{
    background: #29ABE2;
    border: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;

}

.create img{
    width: 24px;
    height: 24px;
}

.content{
    margin-left: 232px;
    display: flex;
    height: 100%;
}

.contact-list{
    background-color: white;
    overflow-y: auto;
    width: 38%;
    max-height: 100vh;
}

.contact-info{
    height: calc(100vh - 80px);
}

.animation{
    animation: slideMe 0.125s;
}

.animation-close{
    animation: slideOut 0.125s;
}

.add-contact{
    cursor: pointer;
    height: 56px;
    width: 82%;
    max-width: 352px;
    border-radius: 10px;
    border: 1px;
    border-color: rgb(43, 54, 71);
    background-color: rgb(43, 54, 71);
    color: white;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 9%;
}

.opened-contact-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 112px;
    margin-top: 20px;
}

.add-contact:hover{
    background-color: rgb(42,170,226);
    box-shadow: 0px 4px 4px 0px #00000040;

}

.abc-separator{
    font-size: 20px;
    width: 352px;
    font-weight: 400;
    border-bottom: solid 1px rgb(196, 196, 196);
}

.abc-separator p{
    padding-left: 42px;
    padding-bottom: 17px;
    margin-top: 5px;
}

.user-contact{
    width: 82%;
    max-width: 352px;
    display: flex;
    align-items: center;
}

.user-contact-element{
    width: 100% !important;
}

.contact{
    cursor: pointer;
    margin-top: 15px;
    width: 82%;
    max-width: 352px;
    display: flex;
    height: 78px;
    align-items: center;
    border-radius: 10px;
}

.contact:hover{
    background-color: rgb(246, 246, 246);
}

.contact-logo{
    box-sizing: content-box;
    margin-left: 6%;
    margin-top: 15px;
    margin-bottom: 21px;
    padding: 8px;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 122, 1);
    color: white;
    border: solid 3px white;
    border-radius: 50%;
    flex: none;
}

.contact-name{
    margin-left: 8%;
    padding-top: 15px;
    padding-bottom: 21px;
    overflow: hidden;
}

.contact-name p, a{
    margin: 0;
    text-overflow: ellipsis;
}

.contact-name p{
    font-size: 20px;
    margin-bottom: 5px;
}

.contact-name a{
    text-decoration: none;
    color: #29ABE2;
    pointer-events: none;
}

.contact-info-header{
    margin-top: 110px;
    margin-left: 55px;
    display: flex;
    max-width: 569px;
    align-items: center;
}

.contact-info-header h1{
    font-size: 61px;
    margin: 0;
}

.contact-info-header-separator{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 59px;
    width: 3px;
    background-color: #29ABE2;
    margin-left: 30px;
    margin-right: 14px;
}

.contact-info-header span{
    color: #2A3647; 
    font-size: 27px;
}

.contact-data{
    margin-left: 62px;
    margin-top: 32px;
    display: flex;
    width: 100%;
    gap: 54px;
}

.contact-data-header{
    display: flex;
    align-items: center;
}

.contact-data-logo{
    width: 120px;
    height: 120px;
    background-color: rgb(255, 122, 1);
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 47px;
    font-weight: 500;
    flex: none;
    border: 3px solid;
    border-color: white;
}

.contact-data-name{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 47px;
    margin-bottom: 8px;
}

.contact-data-icon{
    margin-top: 8px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.contact-data-icon img{
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

.contact-data-icon div{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.edit:hover{
    overflow: hidden;
    color: #29ABE2;
}

body:has(.edit:hover) .edit img{
    filter: drop-shadow(0px 1000px 0 #29ABE2);
    transform: translateY(-1000px);
}

.delete:hover{
    overflow: hidden;
    color: #29ABE2;
}

body:has(.delete:hover) .delete img{
    filter: drop-shadow(0px 1000px 0 #29ABE2);
    transform: translateY(-1000px);
}

.contact-data-icon p{
    margin: 0;
}

.contact-info a{
    text-decoration: none;
    color: #29ABE2;
    display: flex;
}

.contact-data h2{
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 20;
    font-weight: 400;
}

.contact-data a{
    text-decoration: none;
    color: #29ABE2;
}

.contact-info h2{
    margin-left: 62px;
    margin-top: 48px;
    margin-bottom: 48px;
    font-weight: 400;
    font-size: 20px;
}

.contact-info p, h3{
    margin-left: 62px;
    margin-top: 22px;
    margin-bottom: 22px;
}

.contact-info p{
    margin-top: 15px;
}
.contact-info a{
    margin-left: 62px;
    pointer-events: none;
}

.contact-data-icon p{
    margin: 0;
}

.more_options{
    width:116px;
    height: 100px;
    border-radius: 20px 20px 0px 20px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px #00000040;
    position: fixed;
    right: 4px;
    bottom: 88px;
    display: none;
    justify-content: center;
    align-items: center;
    animation: 125ms move-in;
}

.more_options_icon{
    font-size: 16px;
}

.more_options_icon p{
    margin-left: 8px !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.more_options_icon img{
    width: 24px;
    height: 24px;
}

.more_options_icon div{
    cursor: pointer;
    display: flex;
    align-items: center;
}

.back_img_boarder{
    cursor: pointer;
    width: 37px;
    height: 37px;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 4%; 
}

.back_img_boarder:hover{
    background-color: rgb(238,238,238);
    border-radius: 25px;
}

body:has(.back_img_boarder:hover) .back_img_boarder img{
    width: 38px;
    height: 38px;
}


.back_img_boarder img{
    width: 32px;
    height: 32px;
}

.more_img_boarder{
    cursor: pointer;
    width: 56px;
    height: 56px;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 16px;
    bottom: 112px;
    background-color:#2A3647;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.more_img_boarder:hover{
    background-color:#29ABE2;
    border-radius: 30px;
}

.user-feedback-window{
    border-radius: 20px;
    color: white;
    position: absolute;
    padding: 20px;
    background-color: #2A3647;
    font-size: 20px;
    bottom: 28%;
    left: calc((100% - 316px) / 2);
    animation: climb-up 100ms;
}

@media (min-width:1220px) {
    .contact-info-header-separator-mobile{
        display: none;
    }

    .add_contacts_img_boarder{
        display: none;
    }

    .back-icon-white-boarder{
        display: none;
    }
}

@media (min-width:800px){
    .contact-list{
        max-width: 452px;
        min-width: 452px;
    }
}

@media (max-width: 1300px) {
    .contact-info-header{
        margin-top: 48px;
        margin-left: 62px;
        display: block;
    }

    .contact-info-header h1{
        margin-bottom: 8px;
        font-size: 47px;
    }

    .contact-info-header span{
        font-size: 20px;
    }

    .contact-info-header-separator{
        display: none;
    }

    .contact-info-header-separator-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3px;
        width: 90px;
        background-color: #29ABE2;
        margin-top: 16px;
    }
}

@media (max-width: 1220px) {

    .mobile-header{
        display: flex !important;
    }

    header{
        display: none !important;
    }

    .opened-contact-list{
        margin-bottom: 112px;
    }

    .nobody{
        margin-bottom: 35px;
        margin-left: 0;
        margin-right: 0;
        position: absolute;
        left: calc((100% - 120px) / 2);
        top: calc((93% - 120px) / 2);
    }

    .sidebar-container{
        display: none;
    }

    .mobile-sidebar-container{
        display: flex;
    }

    .content{
        margin-left: 0;
        margin-top: 80px;
    }

    .back-icon-boarder{
        display: none;
    }

    .back-icon-white-boarder{
        right: 16px;
        top: 24px;
    }

    .add_contacts_img_boarder{
        cursor: pointer;
        width: 56px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 16px;
        bottom: 112px;
        background-color:#2A3647;
        border-radius: 30px;
        box-shadow: 0px 4px 4px 0px #00000040;
    }
    
    .add_contacts_img_boarder:hover{
        background-color:#29ABE2;
        border-radius: 30px;
    }

    .contact-info h2, h3{
        margin-left: 16px;
    }

    .contact-info h2{
        font-size: 20px;
    }

    .contact-info h3{
        font-size: 16px;
    }

    .contact-info a{
        margin-left: 16px;
    }

    .tel-number{
        margin-left: 16px !important;
    }

    .contact-info-header{
        margin-top: 48px;
        margin-left: 16px;
        display: block;
    }

    .contact-info-header h1{
        margin-bottom: 8px;
        font-size: 47px;
    }

    .contact-info-header span{
        font-size: 20px;
    }

    .contact-info-header-separator{
        display: none;
    }

    .contact-info-header-separator-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3px;
        width: 90px;
        background-color: #29ABE2;
        margin-top: 16px;
    }

    .contact-data{
        margin-left: 0;
        padding-left: 5%;
        width: 100%;
        gap: 0;
    }

    .contact-data-logo{
        width: 80px;
        height: 80px;
        font-size: 27px;
        margin-right: 20px;
    }

    .contact-data-name{
        margin-bottom: 0;
        justify-content: center;
        font-size: 36px;
    }

    .popup-content{
        flex-direction: column;
        height: 82vh;
        width: 50vw;
        position: relative;
        align-items: center;
    }

    .popup-left{
        width: 100%;
        height: 46%;
        padding-left: 24px;
    }

    .join-logo{
        display: none;
    }

    .popup-right{
        flex-direction: column;
        overflow: auto;
        position: absolute;
        bottom: 15%;
        width: 90%;
    }

    .form{
        width: 92%;
        margin-right: 0;
    }

    .add-contact-input-name,
    .add-contact-input-mail,
    .add-contact-input-tel{
        height: 41px;
        margin-bottom: 24px;
        
    }

    .edit-contact-logo{
        margin: 0;
        margin-left: 0 !important;
        margin-bottom: 35px;
        position: absolute;
        left: calc((100% - 120px) / 2);
        top: calc((93% - 120px) / 2);
    }

    .cancel{
        display: none;
    }

    .cancel img{
        display: none;
    }

    .create{
        width: 202px;
    }

    .add-contact-form-buttons{
        justify-content: center;
    }

    .add-contact{
        display: none;
    }

    .contact-list{
        height: calc(100vh - 80px);
    }

}

@media (max-width: 900px) {

.contact-info{
    width: 48%;
}

.content{
    margin-left: 0;
}
}

@media (max-width: 800px){
     .back_img_boarder{
        display: flex;
    }

    .more_img_boarder{
        display: flex;
    }

  .contact-data-icon{
        display: none;
    }

    .popup-content{
        width: 93%;
    }

    .form input{
        font-size: 18px;
    }

}

@media (max-width: 400px) {
    .popup-left h1{
        font-size: 54px;
    }

    .contact p{
        font-size: 18px;
    }

    .contact-logo{
        width: 25px;
        height: 25px;
        font-size: 16px;
        margin-left: 10%;
    }

    .abc-separator{
        width: 90%;
    }

    .abc-separator p{
        padding-left: 4%;
        padding-bottom: 5px;
    }

    .contact-name{
        margin-left: 19px;
    }

    .contact-name a{
        font-size: small;
    }

    .popup-content{
        width: 98%;
        margin-left: 8px;
        margin-right: 8px;
    }
}

@media (max-height: 950px) {
    .popup-right{
        bottom: 2%;
    }

    .edit-contact-logo{
        width: 100px;
        height: 100px;
        margin-bottom: 11px;
        font-size: 40px;
    }

    .add-contact-input-name{
        margin-bottom: 21px;
    }

    .cancel{
        height: 44px;
    }

    .create{
        height: 50px;
    }

    .nobody{
        width: 80px;
        height: 80px;
        margin-bottom: 11px;
        left: calc((100% - 80px) / 2);
        top: calc((93% - 80px) / 2);
    }

    .popup-left h1{
        font-size: 47px;
    }
}

@media (max-height: 740px) {
    .contact-info h2{
        margin-top: 21px;
        margin-bottom: 21px;
    }
    
    .contact-info p,h3 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media (max-height: 650px) {
    .form input{
        margin-bottom: 15px;
    }

    .popup-left h1{
        font-size: 42px;
    }

    .popup-left h3{
        font-size: 19px;
    }

    .nobody{
        width: 50px;
        height: 50px;
        margin-bottom: 11px;
        left: calc((100% - 50px) / 2);
        top: calc((93% - 80px) / 2);
    }
}


@media (max-width: 1300px) {
    .edit-contact-logo{
        margin-left: 3%;
    }
}

