* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: inter; 
    background-color: #F6F7F8;
}


.logo-container {
    height: 20%;
    margin: 0 auto;
    max-width: 1920px;
    
}

.join-logo {
    padding-top: 80px;
    padding-left: 77px;
}

.sign-up-container{
    margin: 0 auto;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.sign-up-formular{
    position: relative;
    padding: 48px 115px 48px 115px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.back-to-log-in-container {
    position: absolute;
    left: 32px;
    top: 64px;
    padding: 3px;
}

.back-to-log-in-container:hover {
    cursor: pointer;
    padding: 3px;
    border-radius: 50px;
    background-color: #F6F7F8;
}

.headline-seperator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

h1 {
    font-size: 60px;
}

.blue-seperator{
    min-height: 3px;
    width: 150px;
    background-color: #29ABE2;
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.first-name-input {
    padding: 12px 21px 12px 21px;
    background: url(img/person.svg);
    background-repeat: no-repeat;
    background-position: 380px;
    height: 48px;
    width: 420px;
    border-radius: 10px;
    border: solid 1px #D1D1D1;
    font-family: inter;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    outline: none;
}

.surname-input {
    padding: 12px 21px 12px 21px;
    background: url(img/person.svg);
    background-repeat: no-repeat;
    background-position: 380px;
    height: 48px;
    width: 420px;
    border-radius: 10px;
    border: solid 1px #D1D1D1;
    font-family: inter;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    outline: none;
}

.email-input{
    padding: 12px 21px 12px 21px;
    background: url(img/mail-logo-for-input.svg);
    background-repeat: no-repeat;
    background-position: 380px;
    height: 48px;
    width: 420px;
    border-radius: 10px;
    border: solid 1px #D1D1D1;
    font-family: inter;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    outline: none;
}

.password-input{
    padding: 12px 21px 12px 21px;
    background: url(img/lock-logo-for-input.svg);
    background-repeat: no-repeat;
    background-position: 380px;
    height: 48px;
    width: 420px;
    border-radius: 10px;
    border: solid 1px #D1D1D1;
    font-family: inter;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    outline: none;
}

.password-not-the-same {
    border-color: red;
}

.not-same-password-container {
    font-family: inter;
    color: red;
    font-size: 12px;
    margin-top: 8px;
}

::placeholder {
    color: #D1D1D1;

}

.accept-text {
    color: #A8A8A8;
    font-weight: 300;
    font-size: 16px;
}

.accept-privat-policy-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.accept-privat-policy-container input{   
    width: 16px;
    height: 16px;
    border: solid 3px #2A3647;
    border-radius: 3px;
}

.accept-privat-policy-container a {
    text-decoration: none;
    color:#29ABE2;
}

.accept-privat-policy-container a:hover {
    text-decoration: underline;
}

.sign-up-button button {
    padding: 15px 24px 15px 24px;
    background-color: #2A3647;
    color: white;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.sign-up-button button:hover {
    background-color: #29ABE2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.overlayer-successful-login{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(34, 34, 34, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none;
}

.successful-login-banner {
    width: 312px;
    height: 74px;
    background-color: #2A3647;
    padding: 0px 25px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 400;
    position: fixed; /* Make sure it is fixed relative to the viewport */
    left: 50%;
    bottom: -100px; /* Start position below the viewport */
    transform: translate(-50%, 50%);
    animation: slideInFromBottom 350ms ease-in-out forwards;
}

@keyframes slideInFromBottom {
    0% {
        bottom: -100px; /* Start position below the viewport */
    }

    100% {
        bottom: 50%; /* End position where you want the banner to stop */
    }
}


footer {
    margin: 0 auto;
    max-width: 1920px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 100px;
    
}

.privacy-legal-notice-container {
    font-size: 16px;
    font-family: inter;
    font-weight: 200;
    display: flex;
    gap: 32px;
    margin-top: auto;
}

.privacy-legal-notice-container a {
    text-decoration: none;
    padding: 1px;
    background-color: transparent;
}
.privacy-legal-notice-container a:hover {
    cursor: pointer;
    color:#29ABE2;
    font-weight: bold;
}