* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter';
    background-color: #F6F7F8;
}

#landscape-warning {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    color: white;
    font-size: 1em;
    text-align: center;
    line-height: 100vh; /* Center text vertically */
    z-index: 9999; /* Ensure it is on top */
  }
  
  /* Show the warning when needed */
  #landscape-warning.visible {
    display: flex;
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
  }

.content-wrapper {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.logo {
    background: url('./img/join-logo-log-in-small.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: resizeImg 550ms ease-in-out forwards 550ms, changeLogo 550ms ease-in-out forwards 550ms;
}

@keyframes resizeImg {
    0% {
        transform: translate(-50%, -50%);
        height: 300px;
    }

    100% {
        width: 100px;
        height: 120px;
        left: 77px;
        top: 80px;
    }
}



.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    animation: showContent 750ms ease-in forwards 750ms;
}

.sign-up-container {
    position: absolute;
    top: 67px;
    right: 77px;
    width: 280px;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    animation: showContent 750ms ease-in forwards 750ms;
}

@keyframes showContent {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 680px) {
    .content-wrapper {
        animation: resizeBackground 550ms ease-in-out forwards 550ms;
        background-color: #2A3647;
    }

    .logo {
        animation: resizeImg 550ms ease-in-out forwards, changeLogo 550ms ease-in-out forwards;
    }

    @keyframes resizeBackground {
        0% {
            background-color: #2A3647;
        }

        100% {
            background-color: #fff;
        }
    }

    @keyframes resizeImg {
        0% {
            transform: translate(-50%, -50%);
            height: 300px;
        }

        100% {
            width: 100px;
            height: 120px;
            left: 77px;
            top: 80px;
        }
    }

    @keyframes changeLogo {
        from {
            background: url('./img/capa_2.png');
            background-size: contain;
            background-repeat: no-repeat;
        }

        to {
            background: url('./img/join-logo-log-in-small.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

.sign-up-link {
    background-color: #2A3647;
    color: white;
    font-family: inter;
    font-size: 16px;
    padding: 15px 16px 15px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.sign-up-link:hover {
    background-color: #29ABE2;

}

.log-in-container {
    padding: 48px 115px 48px 115px;
    background-color: white;
    border-radius: 30px;
    height: 490px;
    max-width: 650px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.headline-seperator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

h1 {
    font-size: 60px;
}

.blue-seperator {
    min-height: 3px;
    width: 150px;
    background-color: #29ABE2;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.email-input {
    padding: 12px 21px 12px 21px;
    padding-right: 40px;
    background: url(img/mail-logo-for-input.svg);
    background-repeat: no-repeat;
    background-position: 380px;
    height: 48px;
    width: 420px;
    border-radius: 10px;
    border: solid 1px #D1D1D1;
    font-family: inter;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    outline: none;
}

.password-input {
    padding: 12px 21px 12px 21px;
    background: url(img/lock-logo-for-input.svg);
    background-repeat: no-repeat;
    background-position: 380px;
    height: 48px;
    width: 420px;
    border-radius: 10px;
    border: solid 1px #D1D1D1;
    font-family: inter;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    outline: none;
}

.password-not-the-same {
    border-color: red;
}

.not-same-password-container {
    font-family: inter;
    color: red;
    font-size: 12px;
    margin-top: 8px;
}

.d-none {
    display: none;
}

::placeholder {
    color: #D1D1D1;

}

.remember-me-container {
    padding-left: 40px;
    width: 420px;
    height: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: inter;
    font-size: 16px;
}

.remember-me-container input {
    width: 16px;
    height: 16px;
    border: solid 2px #2A3647;
    border-radius: 3px;

}

.log-in-and-guest-button-container {
    width: 322px;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 32px;
}

.log-in-button {
    border: none;
    padding: 15px 24px 15px 24px;
    border-radius: 8px;
    background-color: #2A3647;
    color: white;
    font-family: inter;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.log-in-button:hover {
    background-color: #29ABE2;
}

.guest-log-in-button {
    border: solid 1px;
    padding: 15px 24px 15px 24px;
    border-radius: 8px;
    background-color: white;
    color: #2A3647;
    font-family: inter;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.guest-log-in-button:hover {
    border-color: #29ABE2;
    color: #29ABE2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.privacy-legal-notice-container {
    font-size: 16px;
    font-family: inter;
    font-weight: 200;
    display: flex;
    gap: 32px;
    position: fixed;
    bottom: 50px;
    opacity: 0;
    animation: showContent 750ms ease-in forwards 750ms;
}

@keyframes showContent {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.privacy-legal-notice-container a {
    text-decoration: none;
    color: #A8A8A8;
    padding: 1px;
    background-color: transparent;
}

.privacy-legal-notice-container a:hover {
    cursor: pointer;
    color: #29ABE2;
    font-weight: bold;
}

@media (max-width:680px){
    .log-in-container {
        height: auto;
        padding: 32px 8px 32px 8px;
    }

    .log-in-and-guest-button-container {
        flex-direction: column;
        height: auto;
        gap: 21px;
    }

    .log-in-and-guest-button-container button {
        height: 51px;
        width: 150px;
        font-size: 16px;

    }

    .input-container {
        margin-left: 16px;
        margin-right: 16px;
    }

    .sign-up-link {
        width: 104px;
        text-align: center;
    }

    .content-wrapper {
        flex-flow: column-reverse;
    }

    .sign-up-container {
        position: fixed;
        bottom: 10%;
        top: unset;
        right: unset;
    }
}

@media screen and (max-width:820px) and (max-height:730px){
    .log-in-container {
        height: auto;
        padding: 32px 8px 32px 8px;
    }

}

@media (max-width:490px) {
    .log-in-and-guest-button-container {
        width: 290px;
    }

    .email-input,
    .password-input {
        width: 260px;
        background-position: 225px;
        font-size: 14px;
    }

    .remember-me-container {
        padding-left: 16px;
        width: 288px;
    }

    .input-container{
        margin-left: 0;
        margin-right: 0;
    }

}

@media (max-height: 920px) {
    @keyframes resizeImg {
        0% {
            transform: translate(-50%, -50%);
            height: 300px;
        }

        100% {
            width: 64px;
            height: 78px;
            left: 77px;
            top: 80px;
        }
    }

    .sign-up-container {
        position: fixed;
        bottom: 10%;
        top: unset;
        right: unset;
    }

    .privacy-legal-notice-container {
        bottom: 12px;
    }

    .sign-up-link {
        padding: 9px 16px 9px 16px;
    }

    .headline-seperator-container h1 {
        font-size: 47px;
    }
}

@media (max-height: 820px) {
    @keyframes resizeImg {
        0% {
            transform: translate(-50%, -50%);
            height: 300px;
        }

        100% {
            width: 64px;
            height: 78px;
            left: 49px;
            top: 52px;
        }
    }

    .headline-seperator-container {
        gap: 10px;
    }

    .input-container input {
        height: 36px;
    }

    .input-container {
        gap: 23px;
    }

    .remember-me-container {
        height: 10px;
    }

    .log-in-and-guest-button-container {
        gap: 15px;
    }
}

@media (max-height: 760px){
    .content-wrapper {
        flex-flow: column-reverse;
    }

    .sign-up-container {
        position: fixed;
        bottom: 10%;
        top: unset;
        right: unset;
    }
}

@media screen and (max-height: 740px) and (max-width:680px){
            .log-in-container {
                padding: 10px 8px 10px 8px;
            }
}

@media screen and (max-height:660px) and (max-width: 680px) {
    .log-in-container{
        gap: 20px;
    }

    .log-in-button{
        padding: 10px 24px 10px 24px;
    }

    .guest-log-in-button{
        padding: 10px 24px 10px 24px;
    }

    .log-in-and-guest-button-container button{
        height: 40px;
    }

    .log-in-and-guest-button-container{
        gap: 10px;
    }
}