* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Inter;
    background-color: #F6F7F8;
}

.content {
    height: 100vh;
}

.summary-headline {
    height: 75px;
    position: absolute;
    top: 205px;
    left: 328px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.summary-headline h1 {
    font-size: 60px;
    font-weight: 700;
}

.summary-headline h2 {
    font-size: 27px;
    font-weight: 400;
}

.vertical-divider {
    border-left: 3px solid #29ABE2;
    height: 60px;
}

.overview {
    height: 560px;
    position: absolute;
    top: 335px;
    left: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.overview-todo {
    width: 560px;
    height: 170px;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.todo {
    background-color: white;
    width: 265px;
    height: 170px;
    border-radius: 30px;
    padding: 38px 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.todo img {
    height: 25px;
    width: 25px;
}

.edit-bg {
    height: 70px;
    width: 70px;
    background-color: #2A3647;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.todo-txt-container {
    width: 65px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how-much-todos {
    font-size: 64px;
    font-weight: 600;
}

.todo-txt {
    font-size: 20px;
    font-weight: 400;
}

.done {
    background-color: white;
    width: 265px;
    height: 170px;
    border-radius: 30px;
    padding: 38px 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.done img {
    width: 30px;
    height: 22px;
}

.done-bg {
    height: 70px;
    width: 70px;
    background-color: #2A3647;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.done-txt-container {
    width: 65px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how-much-done {
    font-size: 64px;
    font-weight: 600;
}

.done-txt {
    font-size: 20px;
    font-weight: 400;
}

.urgency {
    width: 560px;
    height: 170px;
    border-radius: 30px;
    background-color: white;
    padding: 28px 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.urgency-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.urgency-bg {
    height: 70px;
    width: 70px;
    background-color: #FF3D00;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
}

.urgency-quantity {
    font-size: 64px;
    font-weight: 600;
}

.urgency-txt {
    font-size: 16px;
    font-weight: 400;
}

.urgency-txt-container {
    width: 65px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.urgency-vertical-line {
    height: 100px;
    width: 2px;
}

.deadline-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 13px;
}

.date {
    font-size: 21px;
    font-weight: 700;
}

.deadline {
    font-size: 16px;
    font-weight: 400;
}

.tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 32px;
}

.task-button {
    width: 170px;
    height: 170px;
    background-color: white;
    border-radius: 30px;
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13px;
}

.task-numbers {
    font-size: 64px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-status {
    width: 93px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.greeting-container {
    height: 136px;
    position: absolute;
    top: 550px;
    left: 968px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 3px;
}

.greeting {
    font-size: 47px;
    font-weight: 500;
    color: #2A3647;
}

.greeting-name {
    font-size: 64px;
    font-weight: 700;
    color: #29ABE2;
}

@media screen and (max-width: 1360px) {
    .greeting {
        font-size: 36px; /* Adjust the size as needed */
    }

    .greeting-name {
        font-size: 48px; /* Adjust the size as needed */
    }
}

@media screen and (max-width: 1270px) {
    .greeting {
        font-size: 30px; /* Adjust the size as needed */
    }

    .greeting-name {
        font-size: 40px; /* Adjust the size as needed */
    }
}