* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Inter;
    background-color: #F6F7F8;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-left: 328px;
    padding-right: 87px;
}

.summary-headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-top: 110px;
}

.summary-headline h1 {
    font-size: 60px;
    font-weight: 700;
}

.summary-headline h2 {
    font-size: 27px;
    font-weight: 400;
}

.vertical-divider {
    border-left: 3px solid #29ABE2;
    height: 60px;
}

.horizontal-divider {
    border-left: 60px solid #29ABE2;
    height: 3px;
    display: none;
}

.overview-container {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 32px;
}

.overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.overview-todo {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.todo {
    text-decoration: none;
    color: black;
    background-color: white;
    width: 50%;
    border-radius: 30px;
    padding: 38px 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    transition: transform 100ms ease, background-color 100ms ease;
    /* Transition für Transform und Hintergrundfarbe */
}

.todo img {
    height: 25px;
    width: 25px;
}

.edit-bg {
    height: 70px;
    width: 70px;
    background-color: #2A3647;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.todo-txt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how-much-todos {
    font-size: 64px;
    font-weight: 600;
}

.todo-txt {
    font-size: 20px;
    font-weight: 400;
}

.done {
    text-decoration: none;
    color: black;
    background-color: white;
    width: 50%;
    border-radius: 30px;
    padding: 38px 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    transition: transform 100ms ease, background-color 100ms ease;
    /* Transition für Transform und Hintergrundfarbe */
}

.done img {
    width: 30px;
    height: 22px;
}

.done-bg {
    height: 70px;
    width: 70px;
    background-color: #2A3647;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.done-txt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how-much-done {
    font-size: 64px;
    font-weight: 600;
}

.done-txt {
    font-size: 20px;
    font-weight: 400;
}

.urgency {
    text-decoration: none;
    color: black;
    width: 100%;
    border-radius: 30px;
    background-color: white;
    padding: 28px 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    transition: transform 100ms ease, background-color 100ms ease;
    /* Transition für Transform und Hintergrundfarbe */
}

.urgency-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.urgency-bg {
    height: 70px;
    width: 70px;
    background-color: #FF3D00;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
}

.urgency-quantity {
    font-size: 64px;
    font-weight: 600;
}

.urgency-txt {
    font-size: 16px;
    font-weight: 400;
}

.urgency-txt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.urgency-vertical-line {
    border-left: 2px solid #D1D1D1;
    height: 100px;
}


.deadline-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 13px;
}

.date {
    font-size: 21px;
    font-weight: 700;
}

.deadline {
    font-size: 16px;
    font-weight: 400;
}

.tasks {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 32px;
}

.task-button-left {
    text-decoration: none;
    color: black;
    width: 33%;
    background-color: white;
    border-radius: 30px;
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13px;
    transition: transform 100ms ease, background-color 100ms ease;
    /* Transition für Transform und Hintergrundfarbe */
}

.task-button-middle {
    text-decoration: none;
    color: black;
    width: 33%;
    background-color: white;
    border-radius: 30px;
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13px;
    transition: transform 100ms ease, background-color 100ms ease;
    /* Transition für Transform und Hintergrundfarbe */
}

.task-button-right {
    text-decoration: none;
    color: black;
    width: 33%;
    background-color: white;
    border-radius: 30px;
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13px;
    transition: transform 100ms ease, background-color 100ms ease;
    /* Transition für Transform und Hintergrundfarbe */
}

.task-numbers {
    font-size: 64px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-status {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.greeting-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 3px;
}

.greeting {
    font-size: 47px;
    font-weight: 500;
    color: #2A3647;
}

.greeting-name {
    font-size: 64px;
    font-weight: 700;
    color: #29ABE2;
}

.overview-and-greetings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 56px;
}


.todo:hover {
    transform: scale(1.1) translateX(8px);
    /* Vergrößern bei Hover */
    cursor: pointer;
    /* Zeiger-Cursor bei Hover */
    background-color: #2A3647;
    /* Hintergrundfarbe bei Hover */
}

.done:hover {
    transform: scale(1.1) translateX(-8px);
    /* Vergrößern bei Hover */
    cursor: pointer;
    /* Zeiger-Cursor bei Hover */
    background-color: #2A3647;
    /* Hintergrundfarbe bei Hover */
}

.task-button-left:hover {
    transform: scale(1.1) translateX(8px);
    /* Vergrößern bei Hover */
    cursor: pointer;
    /* Zeiger-Cursor bei Hover */
    background-color: #2A3647;
    /* Hintergrundfarbe bei Hover */
}

.task-button-middle:hover {
    transform: scale(1.1);
    /* Vergrößern bei Hover */
    cursor: pointer;
    /* Zeiger-Cursor bei Hover */
    background-color: #2A3647;
    /* Hintergrundfarbe bei Hover */
}

.task-button-right:hover {
    transform: scale(1.1) translateX(-8px);
    /* Vergrößern bei Hover */
    cursor: pointer;
    /* Zeiger-Cursor bei Hover */
    background-color: #2A3647;
    /* Hintergrundfarbe bei Hover */
}

.todo:hover .edit-bg,
.done:hover .done-bg {
    background-color: white;
    /* Hintergrundfarbe der Edit- und Done-Hintergründe bei Hover */
}

.todo:hover .edit-bg svg path {
    fill: #2A3647;
    /* Füllfarbe des SVG-Pfads bei Hover */
}

.done:hover .done-bg svg path {
    stroke: #2A3647;
    /* Strichfarbe des SVG-Pfads bei Hover */
}

.todo:hover .todo-txt-container,
.done:hover .done-txt-container,
.urgency:hover .urgency-quantity,
.urgency:hover .urgency-txt-container,
.urgency:hover .date {
    color: white;
    /* Textfarbe ändern, wenn .urgency gehovert wird */
}

.urgency:hover {
    transform: scale(1.02) translateY(8px) translateX(8px);
    /* Vergrößern bei Hover */
    cursor: pointer;
    /* Zeiger-Cursor bei Hover */
    background-color: #2A3647;
    /* Hintergrundfarbe bei Hover */
}

.task-button-left:hover .task-numbers,
.task-button-middle:hover .task-numbers,
.task-button-right:hover .task-numbers {
    color: white;
}

.task-button-left:hover .task-status,
.task-button-middle:hover .task-status,
.task-button-right:hover .task-status {
    color: white;
}

.log-in-greeting {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.log-in-greeting-text {
    font-family: Inter;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.2px;
    text-align: left;
}

.log-in-greeting-name {
    color: #29ABE2;
    font-family: Inter;
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
    text-align: left;

}

@media screen and (max-width: 1360px) {
    .greeting {
        font-size: 36px;
        /* Adjust the size as needed */
    }

    .greeting-name {
        font-size: 48px;
        /* Adjust the size as needed */
    }
}

@media screen and (max-width: 1270px) {
    .greeting {
        font-size: 30px;
        /* Adjust the size as needed */
    }

    .greeting-name {
        font-size: 40px;
        /* Adjust the size as needed */
    }
}

@media screen and (max-width: 1100px) {
    .summary-headline h1 {
        font-size: 47px;
        font-weight: 700;
    }

    .summary-headline h2 {
        font-size: 20px;
        font-weight: 400;
    }

}

@media screen and (max-width: 920px) {
    .greeting-container {
        display: none;
    }

    header {
        display: none;
    }

    .mobile-header {
        display: flex;
    }

    .header-shadow {
        display: none;
    }

    .sidebar-container {
        display: none;
    }

    .content {
        margin: 0px 8px;
        padding-right: 0px;
        padding-bottom: 96px;
    }

    .overview-and-greetings {
        gap: 40px;
    }

    .summary-headline {
        margin-top: 48px;
    }

    .mobile-sidebar-container {
        background-color: #2A3647;
        height: 80px;
        width: -webkit-fill-available;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 16px 0px 16px;
        position: fixed;
        bottom: 0px;
    }
    
    #content,
    #mobile-header,
    #mobile-sidebar {
        transition: opacity 1s ease-in-out;
        /* Definiert die Transition für Opazität mit ease-in-out */
        opacity: 0;
        /* Setzt die Opazität auf 0, um den Inhalt initial auszublenden */
    }
}

@media screen and (min-width: 2500px) {
    .content {
        margin-left: 0px;
    }
}

@media screen and (max-width: 670px) {
    .summary-headline {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 8px;
        margin-top: 48px;
    }

    .vertical-divider {
        border-left: 3px solid #29ABE2;
        height: 60px;
        display: none;
    }

    .horizontal-divider {
        border-left: 60px solid #29ABE2;
        height: 3px;
        display: block;
    }

    .overview {
        gap: 24px;
    }

    .overview-todo {
        gap: 24px;
    }

    .urgency {
        gap: 20px;
    }

    .tasks {
        gap: 24px;
    }


}

@media screen and (max-width: 670px) {
    .overview {
        gap: 30px;
    }

    .todo {
        border-radius: 20px;
        gap: 10px;
    }

    .edit-bg {
        height: 40px;
        width: 40px;
    }

    .todo img {
        height: 14px;
        width: 14px;
    }

    .how-much-todos {
        font-size: 47px;
    }

    .todo-txt {
        font-size: 14px;
    }


    .done {
        border-radius: 20px;
        gap: 10px;
    }

    .done-bg {
        height: 40px;
        width: 40px;
    }

    .done img {
        height: 11px;
        width: 15px;
    }

    .how-much-done {
        font-size: 47px;
    }

    .done-txt {
        font-size: 14px;
    }

    .urgency {
        padding: 28px 8px;
    }

    .urgency-bg {
        width: 40px;
        height: 40px;
    }

    .urgency-bg img {
        width: 22px;
    }

    .urgency-quantity {
        font-size: 47px;
    }

    .urgency-txt {
        font-size: 14px;
    }

    .urgency-vertical-line {
        height: 68px;
    }

    .deadline-container {
        gap: 8px;
    }

    .date {
        font-size: 16px;
    }

    .deadline {
        font-size: 14px;
    }

    .task-numbers {
        font-size: 47px;
    }

    .task-status {
        font-size: 14px;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 921px) {
    .log-in-greeting {
        display: none;
    }
}

@media screen and (max-height: 960px) {
    .summary-headline {
        margin-top: 50px;
    }
}

@media screen and (max-height: 900px) {
    .overview-container {
        margin-bottom: 16px;
    }

    .summary-headline {
        margin-top: 24px;
    }

    .summary-headline h1 {
        font-size: 50px;
    }

    .summary-headline h2 {
        font-size: 20px;
    }

    .overview {
        gap: 16px;
    }

    .overview-and-greetings {
        gap: 32px;
    }

    .todo {
        padding: 24px 19px;
    }

    .done {
        padding: 24px 19px;
    }

    .task-button-left {
        padding: 16px 0px;
    }

    .task-button-middle {
        padding: 16px 0px;
    }

    .task-button-right {
        padding: 16px 0px;
    }
}