* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

body {
    font-family: inter;    
    background-color: #F6F7F8;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.task-container {
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.subtasks-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 8px;
}

.contacts-and-priority-container {
    display: flex;
    justify-content: space-between;
    width: 250px;
}