<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="../fonts.css">
    <title>JOIN</title>
</head>

<body>

    <header>
        <span class="headline-header">Kanban Project Management Tool</span>
        <div class="profile-and-help">
            <div class="img-bounding-box">
                <img src="../img/help-header-icon.png" alt="Help Icon">
            </div>
            <div>
                <div class="profile-container">
                    <span id="user-initials" class="user-initials">
                        SM
                    </span>
                </div>

            </div>
        </div>
    </header>
    <div id="sub-menu" class="sub-menu">
        <div class="button" data-link="../help.html">
            <a href="../help.html">Help</a>
        </div>
        <div class="button" data-link="../legal-notice.html">
            <a href="../legal-notice.html">Legal Notice</a>
        </div>
        <div class="button" data-link="../privacy-policy.html">
            <a href="../privacy-policy.html">Privacy Policy</a>
        </div>
        <div class="button" data-link="../logout.html">
            <span>Log out</span>
        </div>
    </div>

    <script src="templates/include.js"></script>
    <script src="./header.js"></script>
</body>

</html>