<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="../fonts.css">
    <script src="templates/include.js"></script>
    <title>JOIN</title>
</head>
<body>

    <header>
            <span class="headline-header">Kanban Project Management Tool</span>
            <div class="profile-and-help">
                <div class="img-bounding-box">
                    <img src="../img/help-header-icon.png" alt="Help Icon">
                </div>
                <div>
                    <div class="profile-container">
                        <span id="user-initials" class="user-initials">
                            SM
                        </span>
                    </div>

                </div>
            </div>
    </header>
    <hr>


</body>
</html>