body {
    margin: 0;
    font-family: 'Inter';
    color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.d-none {
    display: none;
}

hr {
    margin: 0px;
}

header {
    background-color: white;
    width: 100%;
    max-width: 1920px;
    height: 96px;
    box-sizing: border-box;
    padding: 20px 40px 20px 348px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header-shadow {
    background-color: white;
    box-shadow: 0px 4px 4px 0px #0000001A;
    margin-bottom: 8px;
}

.headline-header {
    font-size: 20px;
    font-weight: 400;
}

.profile-and-help {
    width: 104px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.profile-and-help img {
    width: 20px;
    height: 20px;
}

.img-bounding-box {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-bounding-box:hover img {
    cursor: pointer;
    width: 26px;
    height: 26px;
}

.profile-container {
    height: 56px;
    width: 56px;
    border: 3px solid #2A3647;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container:hover {
    cursor: pointer;
    background-color:  #0C2E621F;
}

.user-initials {
    font-weight: bold;
    font-style: normal;
    color: #29ABE2;
    width: 28px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.sub-menu {
    height: 160px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 16px;
    top: 96px;
    background-color: #2A3647;
    padding: 10px;
    border-radius: 20px 0px 20px 20px;
    z-index: 999;
    @media (min-width: 1920px) {
        right: calc((100% - 1920px) / 2 + 16px); /* Berechnet den Abstand vom rechten Rand basierend auf der Maximalbreite des Headers */
    }
}

.button {
    height: 45px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.button:hover {
    background-color: #2A3D59;
    transition: background-color 100ms ease-in;
    cursor: pointer;
}

.button span {
    height: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #CDCDCD;
}

.button a {
    height: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #CDCDCD;
    text-decoration: none;
}

.button a:hover {
    cursor: pointer;
}

@media screen and (min-width: 2500px) {
    header{
        padding: 20px 40px 20px 40px;
    }
}