<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="../fonts.css">
    <script src="templates/include.js"></script>
    <script src="./header.js"></script>
    <title>JOIN</title>
</head>

<body>
    <div class="header-shadow">
        <header>
            <span class="headline-header">Kanban Project Management Tool</span>
            <div class="profile-and-help">
                <a href="../help.html" class="img-bounding-box" class="img-bounding-box">
                    <img src="../img/help-header-icon.png" alt="Help Icon">
                </a>
                <div>
                    <div onclick="isOpen()" class="profile-container" id="profile-container">
                        <span id="user-initials" class="user-initials">
                            SM
                        </span>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div id="sub-menu" class="d-none">
        <div class="button">
            <a href="../legal-notice.html">Legal Notice</a>
        </div>
        <div class="button">
            <a href="../privacy-policy.html">Privacy Policy</a>
        </div>
        <div onclick="logOut()" id="logout" class="button">
            <span>Log out</span>
        </div>
    </div>


</body>

</html>