body {
    margin: 0;
    font-family: Inter;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.d-none {
    display: none;
}

.mobile-header {
    display: none;
    height: 80px;
    padding: 20px 16px;
    box-shadow: 0px 4px 4px 0px #0000001A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
    position: fixed;
    top: 0;
    z-index: 999;
}

.mobile-header img {
    height: 40px;
    width: 32px;
}

.mobile-profile-container {
    height: 40px;
    width: 40px;
    border: 2px solid #2A3647;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-profile-container:hover {
    cursor: pointer;
    background-color: #0C2E621F;
}

.mobile-user-initials {
    font-weight: bold;
    font-style: normal;
    color: #29ABE2;
    width: 20px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.mobile-sub-menu {
    position: absolute;
    right: -170px; /* Initially hidden */
    top: 81px;
    background-color: #2A3647;
    padding: 10px;
    border-radius: 20px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    z-index: 999;
    transition: right 1000ms ease-in-out; /* Transition for smooth sliding */
}

.mobile-sub-menu.visible {
    right: 8px; /* Position when visible */
}

.mobile-button {
    height: 45px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.mobile-button:hover {
    background-color: #2A3D59;
    cursor: pointer;
}

.mobile-button span, .mobile-button a {
    height: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #CDCDCD;
    text-decoration: none;
}

.-mobile-button a:hover {
    cursor: pointer;
}