<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOIN</title>
    <link rel="stylesheet" href="./mobile-header.css">
    <link rel="stylesheet" href="../fonts.css">
</head>
<body>
    <header>
        <img src="../img/join-logo-log-in-small.png">
        <div class="profile-container">
            <span id="user-initials" class="user-initials">
                SM
            </span>
        </div>

    </header>
    <div class="sub-menu">
        <div class="button">
            <span>
                Help
            </span>
        </div>
        <div class="button">
            <span>
                Legal Notice
            </span>
        </div>
        <div class="button">
            <span>
                Privacy Policy
            </span>
        </div>
        <div class="button">
            <span>
                Log out
            </span>
        </div>

    </div>
</body>
</html>