
    <header class="mobile-header">
        <img src="../img/join-logo-log-in-small.png">
        <div onclick="isMobileOpen()" class="mobile-profile-container" id="mobile-profile-container">
            <span id="mobile-user-initials" class="mobile-user-initials">
                SM
            </span>
        </div>
    </header>

    <div id="mobile-sub-menu" class="d-none">
        <div class="mobile-button">
            <a href="../help.html">Help</a>
        </div>
        <div class="mobile-button">
            <a href="../legal-notice.html">Legal Notice</a>
        </div>
        <div class="mobile-button">
            <a href="../privacy-policy.html">Privacy Policy</a>
        </div>
        <div class="mobile-button" onclick="logOut()">
            <span>Log out</span>
        </div>
    </div>


