<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOIN</title>
    <link rel="stylesheet" href="./mobile-sidebar.css">
    <link rel="stylesheet" href="../fonts.css">
</head>
<body>
    <div class="mobile-sidebar-container">
        <div class="icons">
            <img src="../img/summary-sidebar-icon.png" alt="">
            <span>Summary</span>
        </div>
        <div class="icons">
            <img src="../img/board-sidebar-icon.png" alt="">
            <span>Board</span>
        </div>
        <div class="icons">
            <img src="../img/addtask-sidebar-icon.png" alt="">
            <span>AddTask</span>
        </div>
        <div class="icons">
            <img src="../img/contacts-sidebar-icon.png" alt="">
            <span>Contacts</span>
        </div>
    </div>
    
</body>
</html>