<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOIN</title>
    <link rel="stylesheet" href="./mobile-header.css">
    <link rel="stylesheet" href="../fonts.css">
    <script src="./header.js"></script>
</head>

<body>

    <header>
        <img src="../img/join-logo-log-in-small.png">
        <div onclick="isOpen()" class="profile-container" id="profile-container">
            <span id="user-initials" class="user-initials">
                SM
            </span>
        </div>
    </header>

    <div id="sub-menu" class="sub-menu d-none">
        <div class="button" data-link="../help.html">
            <a href="../help.html">Help</a>
        </div>
        <div class="button" data-link="../legal-notice.html">
            <a href="../legal-notice.html">Legal Notice</a>
        </div>
        <div class="button" data-link="../privacy-policy.html">
            <a href="../privacy-policy.html">Privacy Policy</a>
        </div>
        <div class="button" data-link="../logout.html">
            <span>Log out</span>
        </div>
    </div>

    </div>
</body>

</html>