    <div class="sidebar-container">
        <aside>
            <div class="logo-container">
                <img class="sidebar-logo" src="../img/sidebar-logo.png" alt="">
            </div>

            <div class="sidebar-menu">
                <div>
                    <a href="../summary.html">
                        <div class="summary" id="summary">
                            <div>
                                <img class="sidebar-icons" src="../img/summary-sidebar-icon.png" alt="">
                            </div>
                            <div>
                                Summary
                            </div>
                        </div>
                    </a>
                    <a href="./add-task.html">
                        <div class="add-task" id="add-task">
                            <div>
                                <img class="sidebar-icons" src="../img/addtask-sidebar-icon.png" alt="">
                            </div>
                            <div>
                                Add Task
                            </div>
                        </div>
                    </a>
                    <a href="../board.html">
                        <div class="board" id="board">
                            <div>
                                <img class="sidebar-icons" src="../img/board-sidebar-icon.png" alt="">
                            </div>
                            <div>
                                Board
                            </div>
                        </div>
                    </a>
                    <a href="../contacts.html">
                        <div class="contacts" id="contacts">
                            <div>
                                <img class="sidebar-icons" src="../img/contacts-sidebar-icon.png" alt="">
                            </div>
                            <div>
                                Contacts
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="legals">
                <div>
                    <a href="../privacy-policy.html">Privacy Policy</a>
                </div>
                <div>
                    <a href="../legal-notice.html">Legal notice</a>
                </div>
            </div>
        </aside>
    </div>