<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./sidebar.css">
    <link rel="stylesheet" href="../fonts.css">
    <title>Document</title>
    <title>JOIN</title>
</head>

<body>
    <div class="sidebar-container">
        <aside>
            <div class="logo-container">
                <img class="sidebar-logo" src="../img/sidebar-logo.png" alt="">
            </div>
            
            <div class="sidebar-menu">
                <div>
                    <div class="summary">
                        <div>
                            <img class="sidebar-icons" src="../img/summary-sidebar-icon.png" alt="">
                        </div>
                        <div>
                            <a href="#">Summary</a>
                        </div>
                    </div>

                    <div class="add-task">
                        <div>
                            <img class="sidebar-icons" src="../img/addtask-sidebar-icon.png" alt="">
                        </div>
                        <div>
                            <a href="#">Add Task</a>
                        </div>
                    </div>

                    <div class="board">
                        <div>
                            <img class="sidebar-icons" src="../img/board-sidebar-icon.png" alt="">
                        </div>
                        <div>
                            <a href="#">Board</a>
                        </div>
                    </div>

                    <div class="contacts">
                        <div>
                            <img class="sidebar-icons" src="../img/contacts-sidebar-icon.png" alt="">
                        </div>
                        <div>
                            <a href="#">Contacts</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="legals">
                <div>
                    <a href="#">Privacy Policy</a>
                </div>
                <div>
                    <a href="#">Legal notice</a>
                </div>
            </div>

        </aside>
    </div>
</body>

</html>